* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  color: #fff;
}

.nav-logo img {
  width: 20px;
}

.card-img img {
  width: 200px;
}
.card-container {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
}
.country-ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.country-ul img {
  width: 10px;
}

.grey {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}
a {
  color: grey;
}
.country-ul li {
  list-style: none;
}
.header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.card-date-bold {
  font-weight: bold;
  margin-bottom: 1rem;
}
.card-info {
  line-height: 1.3rem;
}

@media (max-width: 500px) {
  .card-container {
    display: block;
    text-align: center;
  }
  .card-img {
    width: auto;
  }
  .country-ul {
    display: block;
  }
  body {
    min-width: 300px;
  }
}
